<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/mesh/base.css">
    <link rel="stylesheet" href="/static/mesh/login_extra.css">
    <link rel="stylesheet" href="/static/mesh/main_menu_extra.css">
    <title>Сопоставление ведомостей</title>
</head>
<body>
    <div class="title" id="title">
        <div class="navigation-left">
            <p>CoSync</p>
        </div>
        <div class="navigation-right" id="navigationRight">
            <button onclick="toggleTheme()" class="theme-switch" id="themeSwitch">
                <img id="sunIcon" src="/static/images/sun-solid-full.svg" alt="SVG" class="fa-solid fa-sun nav-icon">
                <img id="moonIcon" src="/static/images/moon-solid-full.svg" alt="SVG" class="fa-solid fa-moon nav-icon" style="display: none;">
            </button>
        </div>
    </div>
    <div class="blue-line" id="blueLine"></div>
    <div class="main-content" id="mainContent">
        <div class="sopostavlenije container" id="sopostavlenije">
            <div class="content-sopostavlenije center">
                <h1>Куда перейти?</h1>
                <div id="markItem" class="links">
                    <a class="txt_field" href="/groups">Выбор группы и просмотр оценок</a><br>
                    <a class="txt_field" href="/mapping">Редактировать сопоставление дисциплин</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/mesh/base.js"></script>
</html>